This is an example template

Environment variable ENV1: {{ env['ENV1'] or "MISSING" }}
Environment variable ENV2: {{ env['ENV2'] or "MISSING" }}

Property prop1: {{ props['prop1'] or "prop1 DEFAULT" }}
Property prop2: {{ props['prop2'] or "prop2 DEFAULT" }}
